/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}

:root {
  color-scheme: dark;
}

body {
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.app-layout {
  display: grid;
  grid-template-columns: 1fr 0px;
  height: 100vh;

  &[data-has-scenes="false"] {
    > :last-child {
      display: none;
    }
  }

  &[data-has-scenes="true"] {
    grid-template-columns: auto 1fr;

    > :first-child {
      width: 400px;
      resize: horizontal;
    }
  }
}

.audience-layer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  margin: auto;

  img {
    width: 160px;
  }

  button[data-voice] {
    border-radius: 100%;
    border: none;
    /* overflow: clip; */
    transition: all 0.1s ease-in-out;
    position: relative;
    background: none;

    &:active {
      transform: scale(1.05);
      filter: brightness(1.1);
    }

    .name {
      position: absolute;
      display: block;

      /* inset: 0;
      margin: auto; */
      font-size: 1rem;
      left: 0;
      right: 0;
      padding: 0.2rem 0;
      text-align: center;
      font-weight: 600;
      width: 6rem;
      margin: auto;
      bottom: -1rem;
      color: black;
      border-radius: 40px;
      border: 2px solid black;
      background: white;
    }
  }

  button[data-voice][data-speaking] {
    /** add glowing neon blue outline pulsing animation*/
    animation: boxshadowpulse 1s infinite;
  }

  button:last-child {
    min-height: 40px;
    flex: 1 0 100%;
  }
}

@keyframes boxshadowpulse {
  0% {
    box-shadow: 0 0 2px 4px rgba(0, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 4px 8px rgba(0, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 2px 4px rgba(0, 255, 255, 0.5);
  }
}

.control-panel {
  display: grid;
  align-items: start;
  min-height: 0;
  overflow-y: auto;
  padding: 0.25rem;
}

.character-card {
  display: grid;
  gap: 0.25rem;
}

.character-grid {
  display: grid;
  gap: 0.5rem;
}

.emoji-float {
  animation: float-up 1s ease-out;
  animation-fill-mode: both;
}

@keyframes float-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20vh);
    opacity: 0;
  }
}

.main-layout {
  display: grid;
  min-height: 0;

  grid-template-rows: auto 1fr;
}

.narrative-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 0.5rem;
}

.narrative-option {
  display: grid;
  gap: 0.25rem;
  text-align: start;
  align-content: start;

  &[aria-pressed="true"] {
    background-color: black;
    color: white;
  }
}

.scene-list {
  display: grid;
  gap: 1rem;
}

.scene-card {
  display: grid;
  gap: 0.25rem;

  img {
    max-width: 320px;
  }
}

.screens {
  img {
    max-width: 40rem;
    width: 100%;
    margin: auto;
  }
}

.story-card {
  max-width: 40rem;
  margin: auto;
  display: grid;
  gap: 0.5rem;
}

.slide-control {
  max-width: 40rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  button {
    min-width: 4rem;
  }
}

textarea {
  min-height: 3rem;
  resize: vertical;
}
