:root {
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.app-layout {
  display: grid;
}

.character-card {
  display: grid;
  gap: 0.25rem;
}

.character-grid {
  display: grid;
  gap: 1rem;
}

.narrative-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
}

.narrative-option {
  display: grid;
  gap: 0.25rem;
  text-align: start;
  align-content: start;

  &[aria-pressed="true"] {
    background-color: black;
    color: white;
  }
}

.scene-list {
  display: grid;
  gap: 1rem;
}

.scene-card {
  display: grid;
  gap: 0.25rem;

  img {
    max-width: 320px;
  }
}
